ul.arrowlist
  list-style: none
  padding: 0px

  li
    position: relative
    list-style: none
    display: inline-block
    .shifted
      display: inline-block
      margin-left: 1.2rem
      position: relative
    span
      display: inline
      height: 100%
      position: absolute
.arrowcallout
  padding-top: 10px
  padding-bottom: 10px
  .callout
    font-weight: 700
    padding: 5px 10px
    background: #dbe0ff
    border-radius: 2px
