body {
	font-family: source sans pro,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
	  font-size: 1rem;
	  font-weight: 400;
	  line-height: 1.6;
	  color: #222;
	  text-align: left;	
}

.article-body {
	  font-family: 'Roboto Slab', serif;
    font-size: 1.1rem;
}

html {
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: source sans pro,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 600;

}


h2, h3, h4, h5 {
	border-bottom: solid #3684f5 2px;
  	margin-top: 20px;
  	padding-bottom: 5px;	
}

.overlay h2, h3, h4, h5 {
	border: none;
}

.article-body ul, ol {
	margin-left: 1rem;
}

.article-body li {
	margin-bottom: 1rem;
}

aside .toc ul, ol {
	margin-left: 1rem;
}

aside .toc li {
	margin-bottom: 0;
}

.article-body ul:not(.arrowlist) li:before {    
  font-family: 'FontAwesome';
  content: '\f0c8';
  margin: 0px 6px 0px -15px;
  color: #000;
  font-size: 0.5rem;
  top: -3px;
  position: relative;
}

.article-body ul:not(.arrowlist) li p {    
	top: -1.6rem;
  	position: relative;
}




.footer {
	font-family: "Raleway", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#toc, .toc {
	font-family: source sans pro,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
	font-weight: 600;
}


.article-body .toc ul li:before {    
  font-family: 'FontAwesome';
  content: '\f02e';
  margin: 0px 6px 0px -15px;
  color: #888;
  font-size: 0.5rem;
  top: -2px;
  position: relative;
}

aside .toc ul li:before {    
  font-family: 'FontAwesome';
  content: '\f02e';
  margin: 0px 6px 0px -15px;
  color: #888;
  font-size: 0.5em;
  top: -2px;
  position: relative;
}

aside .thumbnail-pic img {
  height: auto;
  width: 33%;
  max-height: 100px;
  border-radius: 5px;
  float: left;
  margin-right:10px;
  margin-left: 5px;
  border: black solid 1px;
}

aside .thumbnail-pic i {
  height: 50px;
  width: auto;
  border-radius: 5px;
  float: left;
  margin-right:20px;
  margin-left:10px;
}

aside .thumb-text {
  position: relative;
  margin-top: -15px;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 15px;
}

aside .thumb-text strong {
  color: #183b6c;
}

aside .thumbnail-view {
  padding: 10px;
  padding-top: 5px;
}

aside .card {
  background: #EEE;
  border-radius: 15px;
}

aside .card-body {
  padding: 10px;
}
aside p.card-header {
  font-family: source sans pro,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px;
}

picture img {
	border-radius: 15px;
  margin-top: 20px;
}

/*.bloglistview article {
  position: relative;
}

.bloglistview article .px-0 {
  position: relative;
  margin-top: 2.5rem;
}
*/


.blogcoverhead {
  text-align: center;
}

.blogcoverpic picture img {
  max-width: 75%;
}

@media (max-width: 767px) {
  .main-content {
    max-width: 100%;
  }

  .blogcoverpic picture img {
    max-width: 100%;
  }

  .bloglistview article picture {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  .bloglistview article {
    margin-left: 1rem;
    margin-right: 1rem;
  }

/*  .blogcoverview {
    max-width: 82%;
  }
  .blogcoverhead {
    max-width: 82%;
  }
*/}

@media (min-width: 768px) {

  .bloglistview article picture  {
    margin-left: 15px;
    margin-top: 2.5rem;
    position: absolute;
    display: block;
  /*  top: 50%;
    transform: translateY(-50%);
  */  max-width: 90%;

  /*    position: absolute;
      top: 50%;
      transform: translateY(-50%);
  */
  }


  .bloglistview article {
    border-bottom: #999 solid 2px;
    background: #ECECEC;
    margin-top: -10px;
    min-height: 200px;
  }


}

.bloglistview article h2 {
  color: white;
  border: none;
  background: #3684f5;
  padding: 5px;
  font-weight: 600;
  margin-top: 0;
  padding-left: 10px;
}



.toc {
  background: #fff4e9;
  padding: 10px;
  border: #e3e3e3 solid 1px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.toc .h3 {
  margin: 0;
  border-bottom: solid #e3e3e3 1px;
  padding-bottom: 3px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.article-body {
	margin-top: 1rem;
}

.article-body .toc li {
	margin-bottom: 0;
}
.article-body .toc ul {
	margin-bottom: 0;
}

.footnotes {
	font-size: 0.6rem;
  line-height: 0.2rem;
}

.email-form-wrap {
	border: #DDD solid 1px;
    padding: 10px;
    border-radius: 15px;
}

#resultsArea .pagination {
  margin-bottom: 20px;
}

#resultsArea .page-item {
  background: #AAA;

  padding: 10px;
  margin-bottom 50px;
}  

#resultsArea .page-item a {
  color: white;
}

#resultsArea .page-item.active {
  background: #3684f5;
}  

#resultsArea p.mt-1 {
  margin-right: 10px;
}

#page-title {
  margin-bottom: 20px;
}

.coverfooterwrap {
  display: inline-block;
  width: 100%;
  padding-bottom: 25px;
}

.coverfooter {
  display: inline-block;
  width: 50%;
}

.coverfooter.right {
  float:right;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .coverfooter {
    width: 100%;
  }
  .coverfooter.right {
    float: none;
    padding-top: 10px;
  }
}

.coverfooter .toc ul li:before {    
  font-family: 'FontAwesome';
  content: '\f02e';
  margin: 0px 6px 0px -15px;
  color: #888;
  font-size: 0.5em;
  top: -2px;
  position: relative;
}

.coverfooter .thumbnail-pic img {
  height: auto;
  width: 22%;
  max-height: 100px;
  border-radius: 5px;
  float: left;
  margin-right:10px;
  margin-left: 5px;
  border: black solid 1px;
}

.coverfooter .thumbnail-pic i {
  height: 50px;
  width: auto;
  border-radius: 5px;
  float: left;
  margin-right:20px;
  margin-left:10px;
}

.coverfooter .thumb-text {
  position: relative;
  margin-top: -15px;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 5px;
}

.coverfooter .thumb-text strong {
  color: #183b6c;
}

.coverfooter .thumbnail-view {
  padding: 10px;
}

.coverfooter .card {
  background: #EEE;
  border-radius: 15px;
}

.coverfooter .card-body {
  padding: 10px;
}
.coverfooter p.card-header {
  font-family: source sans pro,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px;
}

h3.subtitlehead { 
  font-weight: 400;
  padding: 5px;
  padding-left: 5px;
  font-size: 1.4rem;
  border-left: #3684f5 solid 10px;
  padding-left: 15px;
}
