<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <script src="{{ "js/jquery-3.7.1.min.js" | relURL }}"></script>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
    {{ partial "izumafonts.html" . }}        
  </head>
  <body>
    {{ if ne .Site.Params.preloader false }}
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>
    {{ end }}

    <div class="wrapcontent">
    {{ block "main" . }}

   {{ partial "single/single.html" . }}

    {{ if .Params.sidebar }}
    {{ partial "single/sidebar.html" . }}
    {{ end }}

    {{ end }}
    </div>
    {{ if .Params.include_footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ partial "javascript.html" . }}
    {{ partial "consent.html" }}    
  </body>
</html>
