<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <script src="{{ "js/jquery-3.7.1.min.js" | relURL }}"></script>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ if .Title }}Izuma Networks:&nbsp;{{ .Title | markdownify }}{{ else }}{{ if .Site.Title }}{{ .Site.Title | markdownify }}{{ end }}{{ end }}{{ end }}</title>
    {{ partial "css.html" . }}
    {{ partial "izumafonts.html" . }}
  </head>
  <body>
<!-- begin hula -->
<script>
  var u=encodeURIComponent((window.location != window.parent.location) ? document.referrer : document.location.href);
  document.write('<iframe id="hulaframe" src="{{ .Site.Params.hulabase }}/v/hula_hello.html?h={{ .Site.Params.hulaid }}&u='+u+'" height="0" width="0" style="display:none;visibility:hidden"></iframe>')
  </script>
  <script src="{{ .Site.Params.hulabase }}/scripts/forms.js"></script>
  <noscript>
  <iframe src="{{ .Site.Params.hulabase }}/v/hulans.html?h={{ .Site.Params.hulaid }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- end hula -->
  
    <noscript><iframe src="https://{{ .Site.Params.gtmserver }}/ns.html?id={{ .Site.Params.gtmid }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ block "main" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar }}
    {{ partial "sidebar2.html" . }}
    {{ end }}

    {{ if .Params.include_footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
    {{ partial "consent.html" }}    
  </body>
</html>
