{{ $region := .Params.hsform.region }}
{{ $portalid := .Params.hsform.portalid }}
{{ $formid := .Params.hsform.formid }}
{{ $title := .Params.hsform.title }}
{{ $bg := .Params.hsform.bg }}



<section class="section" style="background: {{ $bg }};">
  <div class="container">
    <div class="columnz">
      <div class="zcolumn is-centered-tablet-portrait">
      	<h4 class="title is-4">{{ $title }}</h4>
		<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
		<script>
		  // hbspt.forms.create({
		  //   region: "na1",
		  //   portalId: "22467749",
		  //   formId: "ae5f2e89-526e-49ec-96c1-248dd93a8149"
		  // });
		  hbspt.forms.create({
		    region: "{{ $region }}",
		    portalId: "{{ $portalid }}",
		    formId: "{{ $formid }}"
		  });
		</script>

      </div>
    </div>

  </div>
</section>

