<meta name="referrer" content="no-referrer-when-downgrade">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<meta charset="utf-8">

<!-- {{/* template "_internal/google_analytics_async.html" . */}} -->
{{ if eq .Site.Params.openGraph true }}
{{ template "_internal/opengraph.html" . }}
{{ end }}
<meta name="description" content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if .Params.description }}{{ .Params.description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Izuma Networks provides Edge-as-a-service and IoT solutions.{{ end }}" />
<meta itemprop="description" content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if .Params.description }}{{ .Params.description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Izuma Networks provides Edge-as-a-service and IoT solutions.{{ end }}" />
<meta property="og:description" content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if .Params.description }}{{ .Params.description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Izuma Networks provides Edge-as-a-service and IoT solutions.{{ end }}" />
<meta name="twitter:description" content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if .Params.description }}{{ .Params.description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Izuma Networks provides Edge-as-a-service and IoT solutions.{{ end }}" />

<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="Content-Security-Policy"
      content="default-src 'unsafe-inline' 'self' data: {{ .Site.Params.hulahost }} euc-widget.freshworks.com comment.izumanetworks.com  fonts.googleapis.com www.google-analytics.com; 
               frame-src 'self' sst.izumanetworks.com {{ .Site.Params.hulahost }} sstp.izumanetworks.com challenges.cloudflare.com comment.izumanetworks.com izumanetworks.freshdesk.com www.izumanetworks.com www.gstatic.com js.usermessages.com www.google.com app.hubspot.com www.youtube.com ;
               style-src 'self' fonts.googleapis.com comment.izumanetworks.com sst.izumanetworks.com sstp.izumanetworks.com www.google.com www.izumanetworks.com static.licdn.com 'unsafe-inline';
               script-src 'self' 'unsafe-inline' {{ .Site.Params.hulahost }} sst.izumanetworks.com sstp.izumanetworks.com tatic.cloudflareinsights.com challenges.cloudflare.com badges.linkedin.com euc-widget.freshworks.com unpkg.com www.googletagmanager.com js.usemessages.com cdnjs.cloudflare.com www.google-analytics.com apis.google.com www.google.com www.gstatic.com ajax.googleapis.com platform.linkedin.com;
               font-src 'self' fonts.gstatic.com;
               img-src 'self' data: www.googletagmanager.com www.google.com media.licdn.com sst.izumanetworks.com sstp.izumanetworks.com; 
               child-src izumanetworks.freshdesk.com www.google.com ;">

<!-- 
  default-src forms.hscollectedforms.net api.hubspot.com hubspot-forms-static-embed.s3.amazonaws.com forms.hsforms.com forms.hubspot.com
  frame-src forms.hsforms.com js.hsforms.net
  script-src js.hs-banner.com forms.hsforms.com js.hs-analytics.net js.hscollectedforms.net js.hsforms.net js-na1.hs-scripts.com
  img-src track.hubspot.com  perf.hsforms.com forms.hsforms.com  forms-na1.hsforms.com 
  child src js.hsforms.net forms.hsforms.com-->
<meta name="apple-mobile-web-app-capable" content="yes" />

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

{{ with .Keywords }}<meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">{{ end }}
<meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
<meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />

<!-- Gives a general age rating based on the document's content -->
<meta name="rating" content="General">

<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- <script type="text/javascript" src="http://localhost:8088/scripts/hula.js"></script> -->

<!--gtm-->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://{{ .Site.Params.gtmserver }}/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ .Site.Params.gtmid }}');</script>
