{{- $newsbanner        := .Site.Params.newsbanner }}
{{- $title       := index $newsbanner "title" }}
{{- $subtitle       := index $newsbanner "subtitle" }}
{{- $bgcolor       := default "#FFF" (index $newsbanner "bgcolor") }}
{{- $color       := index $newsbanner "color" }}
{{- $bgimageright       := default "none" (index $newsbanner "bgimageright") }}
{{- $titlecolor       := default "#000" (index $newsbanner "titlecolor") }}
{{- $subtitlecolor       := default "#000" (index $newsbanner "subtitlecolor") }}
{{- $bgimageright       := index $newsbanner "bgimageright" }}
{{- $bgscale       := default "50%" (index $newsbanner "bgscale") }}
{{- $bannerheight  := default "125px" (index $newsbanner "height") }}
{{- $barcolor1  := default $bgcolor (index $newsbanner "barcolor1") }}
{{- $barcolor2  := default $bgcolor (index $newsbanner "barcolor2") }}
{{ if .Site.Params.newsbanner }}
<section class="newsbannerouter">
	<div class="container newsbanner" style="height: {{ $bannerheight }}; background: {{ $bgcolor }}; background-size: {{ $bgscale }} !important; background-image: url(/images{{ printf "%s" $bgimageright | relURL }});">
		<div class="flex-item title" style="color: {{ $titlecolor }}; border-right-color: {{ $barcolor1 }}; border-right-width: 8px;">
		{{ $title | safeHTML }}
		</div>
		<div class="flex-item subtitle" style="color: {{ $subtitlecolor }}; padding-left: 10px; padding-right: 10px; border-right-color: {{ $barcolor2 }}; border-right-width: 5px;">
		{{ $subtitle | safeHTML }}
		</div>
	</div>
	<div class="container newsbannermobile" style="height: {{ $bannerheight }}; background: {{ $bgcolor }}; background-image: url(/images{{ printf "%s" $bgimageright | relURL }});">	
	</div>
</section>
{{ end }}

