{{- $link := default "/" (.Get "link") -}}
{{- $absurl := (.Get "absurl") -}}
{{- $svgobj := default "izuma-blocks-for-docs.svg" (.Get "svgobj") -}}
{{- $target := "" -}}
<div class="izdocslink-nomobile spacer"></div>
{{- if $absurl -}}
<a href="{{ $absurl }}" class="izdocslink" {{- if .Get "new" }}target="_blank"{{- end -}}>
{{- else -}}
<a href="{{ printf "https://developer.izumanetworks.com%s" $link }}"  {{- if .Get "new" }}target="_blank"{{- end -}} class="izdocslink">
{{- end -}}
    <object type="image/svg+xml" data="{{ printf "/images/%s" $svgobj | relURL }}"></object>
	<div class="doclink">
		{{ .Inner | safeHTML }}
	</div>
</a>
